@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --clr-white: #ffff;
  --clr-gray: rgb(134, 134, 134);
  --clr-teal-green: #128c7e;
  --clr-teal-green-dark: #075e54;
  --clr-light-green: #25d366;
  --clr-mint-green: #dcf8c6;
  --clr-blue: #34b7f1;
  --clr-font-primary: #ffff;
  --clr-font-gray: #8b8b8b;

  --shadow-bottom: 0 10px 1em 0.05em rgba(141, 141, 141, 0.267);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: var(--clr-font-primary);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Poppins", sans-serif;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* chat-container */
.chat-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background: url("./images/chat_background.png") center/cover no-repeat;
}
/* header */
.chat-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  display: flex;
  align-items: center;
  background-color: #075e54;
  padding: 0.5em;
  box-shadow: var(--shadow-bottom);
}
.chat-header-left {
  width: 55%;
  justify-content: left;
}
.chat-header-left button {
  background: transparent;
  border: none;
  color: var(--clr-font-primary);
  font-size: 1.4em;
}
.chat-header-left .img-container {
  width: 2.2em;
  height: 2.2em;
  border-radius: 100%;
  margin: 0 0.5em 0 0.2em;
}
.chat-header-left img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
}
.chat-header-left span:first-of-type {
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.chat-header-right {
  width: 45%;
  justify-content: right;
}
.chat-header-right .icon {
  display: flex;
  align-items: center;
  font-size: 1.4em;
  padding: 0 0.1em 0 0.1em;
  margin: 0 0.2em 0 0.2em;
}
/* body */
.chat-body {
  padding: 0.5em;
}
.msg-header {
  position: relative;
  color: #3b3b3b;
  font-weight: 500;
  display: flex;
}
.msg-left {
  justify-content: left;
  margin: 0.3em 4em 0.3em 0.8em;
}
.msg-left::before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.7em;
  border: 0.7em solid transparent;
  border-radius: 5px;
  border-top-color: var(--clr-white);
}
.msg-right {
  justify-content: right;
  margin: 0.4em 0.8em 0.4em 4em;
}
.msg-right::after {
  content: "";
  position: absolute;
  top: 0;
  right: -0.7em;
  border: 0.7em solid transparent;
  border-radius: 5px;
  border-top-color: var(--clr-mint-green);
}
.msg-header span {
  position: relative;
  padding: 0.3em 0.6em 0.3em 0.6em;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  box-shadow: var(--shadow-bottom);
}
.msg-header p {
  font-size: 13px;
  color: transparent;
  display: inline-block;
  margin: 0 0 0 0.8em;
  padding-bottom: 0.4em;
  font-weight: 500;
}
#true-time {
  position: absolute;
  right: 0.5em;
  bottom: -0.2em;
  color: var(--clr-font-gray);
}
.msg-left span {
  background-color: var(--clr-white);
}
.msg-right span {
  background-color: var(--clr-mint-green);
}
/* footer */
.chat-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;

  padding: 0.5em;
}
.chat-footer-left {
  position: relative;
  display: flex;
  flex-grow: 1;
  background-color: var(--clr-white);
  border-radius: 5px;
  padding: 0.4em;
  box-shadow: var(--shadow-bottom);
}
.chat-footer-left::after {
  content: "";
  position: absolute;
  top: 0;
  right: -0.5em;
  border: 0.5em solid transparent;
  border-radius: 5px;
  border-top-color: var(--clr-white);
}
.chat-footer input {
  height: 2.2em;
  width: 80%;
  padding: 0.5em;
  border: none;
  font-size: 1em;
}
.chat-footer input:focus {
  outline: none;
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: end;
}
.emoji-btn,
.camera-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  width: 2em;
  color: var(--clr-gray);
  font-size: 1.5em;
}

.send-msg-btn {
  height: 2.2em;
  width: 2.2em;
  border: none;
  border-radius: 100%;
  margin: 0 0 0 0.5em;
  background-color: var(--clr-teal-green);
  color: var(--clr-white);
  font-size: 1.5em;
}
